[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ronitgandhi/Desktop/iotlink-ui-motor-driver]
row=1
col=0

[/home/ronitgandhi/Desktop/iotlink-ui-energy-monitoring]
row=2
col=0

[/home/ronitgandhi/Desktop/iotlink-ui-template]
row=3
col=0

[/home/ronitgandhi/Desktop/iotdashboard_apk]
row=0
col=0

[/home/ronitgandhi/Desktop/iotdb-sns]
row=4
col=0

