[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ronitgandhi/Iotdashboard Logo]
row=3
col=1

[/home/ronitgandhi/Android]
row=4
col=0

[/home/ronitgandhi/Templates]
row=7
col=0

[/home/ronitgandhi/tmp]
row=3
col=0

[/home/ronitgandhi/StudioProjects]
row=1
col=2

[/home/ronitgandhi/pikaur]
row=5
col=1

[/home/ronitgandhi/Videos]
row=8
col=0

[/home/ronitgandhi/cache]
row=2
col=2

[/home/ronitgandhi/css]
row=4
col=1

[/home/ronitgandhi/Screenshots]
row=1
col=1

[/home/ronitgandhi/pix]
row=2
col=1

[/home/ronitgandhi/Documents]
row=6
col=1

[/home/ronitgandhi/Downloads]
row=1
col=0

[/home/ronitgandhi/vscode]
row=5
col=0

[/home/ronitgandhi/Pictures]
row=6
col=0

[/home/ronitgandhi/Desktop]
row=7
col=1

[/home/ronitgandhi/Public]
row=0
col=1

[/home/ronitgandhi/arch-linux-magic]
row=2
col=0

[/home/ronitgandhi/startpage]
row=8
col=1

[/home/ronitgandhi/New Folder]
row=0
col=2

[/home/ronitgandhi/Music]
row=0
col=0

